@model SGPI.Models.Pago
@{
    ViewData["Title"] = "EstudiantePagos";
    Layout = "_LayoutSGPI";
}

<h1 align="center">Pagos</h1>
<h6 align="right"><a href="/Administrador/Login" id=" cerrarsesion">Cerrar Sesión </a></h6>


<form action="" class="form-inline justify-content-center">
    <center>
        <!--Agrego el menu-->
        <ul class="nav nav-tabs" class="form">
           <li class="nav-item">
               @Html.ActionLink("EstudianteAct", "EstudianteAct",new{Idusuario = ViewBag.idusuario})
           </li>
            <li class="nav-link" href="">
                <a class="nav-link" href=""></a>

           </li>
            <li class="nav-item">
                @Html.ActionLink("EstudiantePagos", "EstudiantePagos",new{Idusuario = ViewBag.idusuario})

           </li>
           

        </ul>
    </center>
    <br />
    <br />
</form>
<br />
<br />
<form method="post">
    <center>
        <table class="default" border="1px">

            <tr>
                @*<th>IdPago</th>*@
                <th>Valor Pago</th>
                <th>Fecha Pago</th>
                <th>Opciones</th>
            </tr>

            <tr>
               @* <td>
                    <input asp-for="Idpago" type="text" class="form-control col-sm-6" id="numerodocumentousuariotxt" required />
                </td>*@

                <td>
                    <input asp-for="ValorPago" type="text" class="form-control col-sm-6" id="numerodocumentousuariotxt" required />
                </td>

                <td>  <input asp-for="Fecha" type="date" class="form-control col-sm-12" id="numerodocumentousuariotxt" required />  </td>
                <td>
                    <label class="form-label text-Black" for="certificadotxt">Subir certificado:</label> <br />
                    <input class="text-black" type="file" id="certificadotxt" />
                </td>
            </tr>
            <br />
        </table>
        @if (ViewBag.mensaje != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.mensaje
            </div>
        }
        <br />
        <br />
        <button type="submit" class="btn btn-outline-danger" id="crearbtn" submit>Actualizar Pagos </button>
    </center>


</form>

