
@{
    ViewData["Title"] = "EstudiantePagos";
    Layout = "_LayoutSGPI";
}

<h1 align="center">Pagos</h1>
<h6 align="right"><a href="/Administrador/Login" id=" cerrarsesion">Cerrar Sesión </a></h6>


<form action="" class="form-inline justify-content-center">
    <center>
        <!--Agrego el menu-->
        <ul class="nav nav-tabs" class="form">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link " href="/Estudiante/EstudianteAct">Actualizar</a>
            </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Pagos</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </ul>
    </center>
    <br />
    <br />
</form>
<br />
<br />
<form action="" class="form-inline justify-content-center">
    <center>
        <table class="default" border="1px">

            <tr>
                <th>No</th>
                <th>Valor Pago</th>
                <th>Fecha Pago</th>
                <th>Opciones</th> 
            </tr>

            <tr>

                <td> 1 </td>
                <td> $2'000.000 </td>
                <td> 03/02/22 </td>
                <td><a href="">Pago1.pdf</a></td>
                
            </tr>
            <br />
            <tr>

                <td> <input type="text"  id="buscarusuariotxt" required /><br /></td>
                <td><input type="text"     id="buscarusuariotxt" required /></td>
                <td><input type="date"     id="buscarusuariotxt" required /></td>
                <td><button type="submit" class="btn btn-primary mb-3" href="img/search.png">+ Adjuntar</button></td>
                

            </tr>

            <tr>
                <td> <input type="text"  id="buscarusuariotxt" required /> <br /></td>
                <td> <input type="text" id="buscarusuariotxt" required /></td>
                <td> <input type="date" id="buscarusuariotxt" required /></td>
                <td><button type="submit" class="btn btn-primary mb-3" href="img/search.png">+ Adjuntar</button></td>
               

            </tr>

        </table>
        <br />
        <br />
        <button type="button" class="btn btn-outline-danger" id="crearbtn type" submit>Actualizar Pagos </button>
    </center>


</form>

