@model SGPI.Models.Usuario
@{
    ViewData["Title"] = "Login";
    //Aca selecciono para que aparezca el layout
    Layout = "_LayoutSGPI";
}
@if (ViewBag.mensaje!=null){
    <br />
    <center><h3>@ViewBag.mensaje</h3></center>

}


<!--Aca titulo-->
   <br/>
   <br/>
<h1 align="center">Login</h1>
   <br/>
   <br/>
   <br/>
   
   
   
<form method="post">
<center>
<div class="form-group">
<!--Aca un label-->
<label for="usuariotxt">Usuario</label>
<!--Aca un input-->
<input asp-for="NumeroDocumento" type="text" class="form-control col-sm-4" id="usuariotxt" requiered />
<br/>
</div>

<div class="form-group">
<label for="password.txt">Contraseña</label>
<input asp-for="Password" type="password" class="form-control col-sm-4" id="passwordtxt" requiered />
</div>



<!--Aca un link-->
<a href="/Administrador/OlvidarContrasena" id="recuperarPass">¿Olvidaste la contraseña?</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<!--Aca un botton con color-->

<button type="submit" class="btn btn-outline-danger"  id="ingresarbtn ">Ingresar </button></center>
<!--<button id="ingresarbtn type"submit>Ingresar</button> -->
</form>
